<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for f in fm %}
            {{f.label_tag}} {{f}} {{f.errors|striptags}}<br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    {% if messages %}
        {% for m in messages %}
        <small {% if messages.tags %} class="{{m.tags}}" {% endif %}>{{m}}</small>
        {% endfor %}
    {% endif %}
    <br>
    <a href="{% url 'login' %}">Already have an account ? | LOGIN</a>
</body>
</html>